In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('archive.zip')

In [5]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [6]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [7]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [8]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [9]:
df.shape

(150, 5)

In [10]:
df.iloc[0]

sepal_length            5.1
sepal_width             3.5
petal_length            1.4
petal_width             0.2
species         Iris-setosa
Name: 0, dtype: object

In [12]:
df.loc[0:3,'species']

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
Name: species, dtype: object

In [13]:
df.iloc[1:4,2:4]

   petal_length  petal_width
1           1.4          0.2
2           1.3          0.2
3           1.5          0.2

In [14]:
df.isnull()

     sepal_length  sepal_width  petal_length  petal_width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [15]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [16]:
df.isnull().any()

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
species         False
dtype: bool

In [17]:
df.isnull().sum(axis = 1)

0      0
1      0
2      0
3      0
4      0
      ..
145    0
146    0
147    0
148    0
149    0
Length: 150, dtype: int64

In [18]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [19]:
df['petal_width'] = df['petal_width'].values.astype(int)

In [20]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width       int32
species          object
dtype: object

In [21]:
from sklearn import preprocessing

In [22]:
min_max_scaler = preprocessing.MinMaxScaler()

In [25]:
x_scaled = min_max_scaler.fit_transform(df[['sepal_length']])

In [26]:
df['sepal_length'] = x_scaled
df['sepal_length']

0      0.222222
1      0.166667
2      0.111111
3      0.083333
4      0.194444
         ...
145    0.666667
146    0.555556
147    0.611111
148    0.527778
149    0.444444
Name: sepal_length, Length: 150, dtype: float64

In [27]:
df['sepal_length'].describe()

count    150.000000
mean       0.428704
std        0.230018
min        0.000000
25%        0.222222
50%        0.416667
75%        0.583333
max        1.000000
Name: sepal_length, dtype: float64

In [28]:
label_encoder = preprocessing.LabelEncoder()

In [29]:
df['species'] = label_encoder.fit_transform(df['species'])

In [30]:
df['species']

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int32

In [31]:
df['species'].unique()

array([0, 1, 2])