In [46]:
import numpy as np
import pandas as pd

In [47]:
student_names = ['John', 'Alice', 'Bob', 'Eva', 'Charlie', 'Olivia', 'Daniel', 'Sophia', 'David', 'Emma',
                 'James', 'Grace', 'William', 'Ava', 'Michael', 'Chloe', 'Matthew', 'Emily', 'Jacob', 'Mia',
                 'Benjamin', 'Ella', 'Christopher', 'Aiden', 'Liam', 'Zoe', 'Samuel', 'Lily', 'Logan', 'Lucy',
                 'Jackson', 'Avery', 'Elijah', 'Harper', 'Daniel', 'Isabella', 'Sebastian', 'Mila', 'Alexander', 'Scarlett']

df = pd.DataFrame(
    {
        'Student_id' : np.arange(1,41),
        'Name' : student_names,
        'Dept' : np.random.choice(['CS', 'IT', 'AI&DS'], 40),
        'Admission_year' : np.random.choice([2022, 2021, 2023], 40),
        'Class' : np.random.choice(['SE', 'TE'], 40),
        'Result' : np.random.randint(20, 101,size= 40),
        'Placed' : np.random.choice(['Yes', 'No'], 40)
    }
)
df

    Student_id         Name   Dept  Admission_year Class  Result Placed
0            1         John     IT            2021    SE      94    Yes
1            2        Alice     CS            2021    TE      84     No
2            3          Bob     IT            2022    TE      21     No
3            4          Eva  AI&DS            2023    TE      62    Yes
4            5      Charlie     CS            2023    TE      97     No
5            6       Olivia  AI&DS            2021    SE      85    Yes
6            7       Daniel     CS            2022    SE      38    Yes
7            8       Sophia     IT            2023    SE      40    Yes
8            9        David  AI&DS            2021    SE      56     No
9           10         Emma  AI&DS            2021    TE      60    Yes
10          11        James  AI&DS            2022    SE      43    Yes
11          12        Grace     CS            2022    SE      20     No
12          13      William     CS            2021    TE      88    Yes
13          14          Ava  AI&DS            2021    TE      21     No
14          15      Michael     CS            2022    TE      33     No
15          16        Chloe     IT            2023    TE      79    Yes
16          17      Matthew  AI&DS            2023    SE      70    Yes
17          18        Emily     CS            2021    TE      45    Yes
18          19        Jacob     CS            2022    TE      87     No
19          20          Mia     IT            2021    TE      43     No
20          21     Benjamin     IT            2022    TE      69     No
21          22         Ella     CS            2021    TE      94    Yes
22          23  Christopher     IT            2023    TE      94    Yes
23          24        Aiden     CS            2023    SE      34     No
24          25         Liam  AI&DS            2021    SE      23    Yes
25          26          Zoe  AI&DS            2022    SE      73    Yes
26          27       Samuel     CS            2023    TE      40    Yes
27          28         Lily     IT            2022    SE      43     No
28          29        Logan  AI&DS            2022    SE      39    Yes
29          30         Lucy  AI&DS            2023    TE      24     No
30          31      Jackson  AI&DS            2023    SE      86    Yes
31          32        Avery  AI&DS            2022    SE      53    Yes
32          33       Elijah  AI&DS            2021    TE      64     No
33          34       Harper     IT            2023    TE      21     No
34          35       Daniel  AI&DS            2021    TE      34    Yes
35          36     Isabella     IT            2022    SE      95     No
36          37    Sebastian     IT            2023    SE      32     No
37          38         Mila  AI&DS            2022    TE      50     No
38          39    Alexander     IT            2021    TE      63    Yes
39          40     Scarlett  AI&DS            2021    SE      48    Yes

In [48]:
for column in df.columns[2:]:
    random_indices = np.random.choice(df.index, size=5, replace= False)
    df.loc[random_indices, column] = np.nan
df

    Student_id         Name   Dept  Admission_year Class  Result Placed
0            1         John     IT          2021.0    SE    94.0    Yes
1            2        Alice     CS          2021.0    TE    84.0     No
2            3          Bob     IT          2022.0   NaN    21.0     No
3            4          Eva  AI&DS          2023.0    TE    62.0    Yes
4            5      Charlie     CS          2023.0    TE    97.0     No
5            6       Olivia  AI&DS          2021.0    SE    85.0    Yes
6            7       Daniel    NaN          2022.0    SE     NaN    Yes
7            8       Sophia     IT          2023.0    SE    40.0    NaN
8            9        David    NaN          2021.0    SE     NaN     No
9           10         Emma    NaN             NaN    TE    60.0    Yes
10          11        James  AI&DS          2022.0    SE    43.0    Yes
11          12        Grace    NaN          2022.0    SE    20.0    NaN
12          13      William     CS          2021.0    TE    88.0    NaN
13          14          Ava  AI&DS          2021.0    TE    21.0    NaN
14          15      Michael     CS             NaN    TE    33.0     No
15          16        Chloe     IT          2023.0    TE    79.0    Yes
16          17      Matthew  AI&DS          2023.0    SE    70.0    Yes
17          18        Emily     CS          2021.0    TE    45.0    Yes
18          19        Jacob     CS          2022.0    TE    87.0     No
19          20          Mia     IT          2021.0    TE    43.0     No
20          21     Benjamin     IT             NaN    TE    69.0     No
21          22         Ella     CS          2021.0   NaN    94.0    Yes
22          23  Christopher     IT          2023.0    TE    94.0    Yes
23          24        Aiden     CS          2023.0    SE    34.0     No
24          25         Liam  AI&DS             NaN    SE    23.0    NaN
25          26          Zoe  AI&DS          2022.0   NaN    73.0    Yes
26          27       Samuel     CS          2023.0    TE    40.0    Yes
27          28         Lily    NaN          2022.0    SE    43.0     No
28          29        Logan  AI&DS          2022.0    SE    39.0    Yes
29          30         Lucy  AI&DS             NaN   NaN    24.0     No
30          31      Jackson  AI&DS          2023.0    SE     NaN    Yes
31          32        Avery  AI&DS          2022.0    SE    53.0    Yes
32          33       Elijah  AI&DS          2021.0    TE    64.0     No
33          34       Harper     IT          2023.0    TE    21.0     No
34          35       Daniel  AI&DS          2021.0    TE    34.0    Yes
35          36     Isabella     IT          2022.0    SE    95.0     No
36          37    Sebastian     IT          2023.0    SE     NaN     No
37          38         Mila  AI&DS          2022.0    TE    50.0     No
38          39    Alexander     IT          2021.0    TE     NaN    Yes
39          40     Scarlett  AI&DS          2021.0   NaN    48.0    Yes

In [49]:
new_row = pd.DataFrame(
[
{
    'Student_id' : 41,
    'Name' : 'Sahit',
    'Dept' : 'AI&DS',
    'Admission_year' : 2021,
    'Class' : 'TE',
    'Result' : 180.0,
    'Placed' : 'No'
}
]
)
df = pd.concat([df, new_row], ignore_index=True)

In [50]:
df

    Student_id         Name   Dept  Admission_year Class  Result Placed
0            1         John     IT          2021.0    SE    94.0    Yes
1            2        Alice     CS          2021.0    TE    84.0     No
2            3          Bob     IT          2022.0   NaN    21.0     No
3            4          Eva  AI&DS          2023.0    TE    62.0    Yes
4            5      Charlie     CS          2023.0    TE    97.0     No
5            6       Olivia  AI&DS          2021.0    SE    85.0    Yes
6            7       Daniel    NaN          2022.0    SE     NaN    Yes
7            8       Sophia     IT          2023.0    SE    40.0    NaN
8            9        David    NaN          2021.0    SE     NaN     No
9           10         Emma    NaN             NaN    TE    60.0    Yes
10          11        James  AI&DS          2022.0    SE    43.0    Yes
11          12        Grace    NaN          2022.0    SE    20.0    NaN
12          13      William     CS          2021.0    TE    88.0    NaN
13          14          Ava  AI&DS          2021.0    TE    21.0    NaN
14          15      Michael     CS             NaN    TE    33.0     No
15          16        Chloe     IT          2023.0    TE    79.0    Yes
16          17      Matthew  AI&DS          2023.0    SE    70.0    Yes
17          18        Emily     CS          2021.0    TE    45.0    Yes
18          19        Jacob     CS          2022.0    TE    87.0     No
19          20          Mia     IT          2021.0    TE    43.0     No
20          21     Benjamin     IT             NaN    TE    69.0     No
21          22         Ella     CS          2021.0   NaN    94.0    Yes
22          23  Christopher     IT          2023.0    TE    94.0    Yes
23          24        Aiden     CS          2023.0    SE    34.0     No
24          25         Liam  AI&DS             NaN    SE    23.0    NaN
25          26          Zoe  AI&DS          2022.0   NaN    73.0    Yes
26          27       Samuel     CS          2023.0    TE    40.0    Yes
27          28         Lily    NaN          2022.0    SE    43.0     No
28          29        Logan  AI&DS          2022.0    SE    39.0    Yes
29          30         Lucy  AI&DS             NaN   NaN    24.0     No
30          31      Jackson  AI&DS          2023.0    SE     NaN    Yes
31          32        Avery  AI&DS          2022.0    SE    53.0    Yes
32          33       Elijah  AI&DS          2021.0    TE    64.0     No
33          34       Harper     IT          2023.0    TE    21.0     No
34          35       Daniel  AI&DS          2021.0    TE    34.0    Yes
35          36     Isabella     IT          2022.0    SE    95.0     No
36          37    Sebastian     IT          2023.0    SE     NaN     No
37          38         Mila  AI&DS          2022.0    TE    50.0     No
38          39    Alexander     IT          2021.0    TE     NaN    Yes
39          40     Scarlett  AI&DS          2021.0   NaN    48.0    Yes
40          41        Sahit  AI&DS          2021.0    TE   180.0     No

In [51]:
df.isnull().sum()

Student_id        0
Name              0
Dept              5
Admission_year    5
Class             5
Result            5
Placed            5
dtype: int64

In [52]:
non_numerical_columns = df.select_dtypes(exclude=np.number).columns
numerical = df.drop(columns= non_numerical_columns)
numerical

    Student_id  Admission_year  Result
0            1          2021.0    94.0
1            2          2021.0    84.0
2            3          2022.0    21.0
3            4          2023.0    62.0
4            5          2023.0    97.0
5            6          2021.0    85.0
6            7          2022.0     NaN
7            8          2023.0    40.0
8            9          2021.0     NaN
9           10             NaN    60.0
10          11          2022.0    43.0
11          12          2022.0    20.0
12          13          2021.0    88.0
13          14          2021.0    21.0
14          15             NaN    33.0
15          16          2023.0    79.0
16          17          2023.0    70.0
17          18          2021.0    45.0
18          19          2022.0    87.0
19          20          2021.0    43.0
20          21             NaN    69.0
21          22          2021.0    94.0
22          23          2023.0    94.0
23          24          2023.0    34.0
24          25             NaN    23.0
25          26          2022.0    73.0
26          27          2023.0    40.0
27          28          2022.0    43.0
28          29          2022.0    39.0
29          30             NaN    24.0
30          31          2023.0     NaN
31          32          2022.0    53.0
32          33          2021.0    64.0
33          34          2023.0    21.0
34          35          2021.0    34.0
35          36          2022.0    95.0
36          37          2023.0     NaN
37          38          2022.0    50.0
38          39          2021.0     NaN
39          40          2021.0    48.0
40          41          2021.0   180.0

In [53]:
Q1 = numerical.quantile(0.25)
Q3 = numerical.quantile(0.75)

IQR = Q3 - Q1

lower_limit = Q1 - 1.5 * IQR
upper_limit = Q3 + 1.5 * IQR

outliers = ((numerical < lower_limit) | (upper_limit < numerical)).any(axis= 1)

df[outliers]

    Student_id   Name   Dept  Admission_year Class  Result Placed
40          41  Sahit  AI&DS          2021.0    TE   180.0     No

In [54]:
cleaned_df = df[~outliers]
cleaned_df

    Student_id         Name   Dept  Admission_year Class  Result Placed
0            1         John     IT          2021.0    SE    94.0    Yes
1            2        Alice     CS          2021.0    TE    84.0     No
2            3          Bob     IT          2022.0   NaN    21.0     No
3            4          Eva  AI&DS          2023.0    TE    62.0    Yes
4            5      Charlie     CS          2023.0    TE    97.0     No
5            6       Olivia  AI&DS          2021.0    SE    85.0    Yes
6            7       Daniel    NaN          2022.0    SE     NaN    Yes
7            8       Sophia     IT          2023.0    SE    40.0    NaN
8            9        David    NaN          2021.0    SE     NaN     No
9           10         Emma    NaN             NaN    TE    60.0    Yes
10          11        James  AI&DS          2022.0    SE    43.0    Yes
11          12        Grace    NaN          2022.0    SE    20.0    NaN
12          13      William     CS          2021.0    TE    88.0    NaN
13          14          Ava  AI&DS          2021.0    TE    21.0    NaN
14          15      Michael     CS             NaN    TE    33.0     No
15          16        Chloe     IT          2023.0    TE    79.0    Yes
16          17      Matthew  AI&DS          2023.0    SE    70.0    Yes
17          18        Emily     CS          2021.0    TE    45.0    Yes
18          19        Jacob     CS          2022.0    TE    87.0     No
19          20          Mia     IT          2021.0    TE    43.0     No
20          21     Benjamin     IT             NaN    TE    69.0     No
21          22         Ella     CS          2021.0   NaN    94.0    Yes
22          23  Christopher     IT          2023.0    TE    94.0    Yes
23          24        Aiden     CS          2023.0    SE    34.0     No
24          25         Liam  AI&DS             NaN    SE    23.0    NaN
25          26          Zoe  AI&DS          2022.0   NaN    73.0    Yes
26          27       Samuel     CS          2023.0    TE    40.0    Yes
27          28         Lily    NaN          2022.0    SE    43.0     No
28          29        Logan  AI&DS          2022.0    SE    39.0    Yes
29          30         Lucy  AI&DS             NaN   NaN    24.0     No
30          31      Jackson  AI&DS          2023.0    SE     NaN    Yes
31          32        Avery  AI&DS          2022.0    SE    53.0    Yes
32          33       Elijah  AI&DS          2021.0    TE    64.0     No
33          34       Harper     IT          2023.0    TE    21.0     No
34          35       Daniel  AI&DS          2021.0    TE    34.0    Yes
35          36     Isabella     IT          2022.0    SE    95.0     No
36          37    Sebastian     IT          2023.0    SE     NaN     No
37          38         Mila  AI&DS          2022.0    TE    50.0     No
38          39    Alexander     IT          2021.0    TE     NaN    Yes
39          40     Scarlett  AI&DS          2021.0   NaN    48.0    Yes

In [55]:
result_mean = df['Result'].mean()
df['Result'].fillna(result_mean, inplace=True)

In [56]:
df.isna().sum()

Student_id        0
Name              0
Dept              5
Admission_year    5
Class             5
Result            0
Placed            5
dtype: int64

In [57]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler() 
x_scaled = min_max_scaler.fit_transform(df[['Result']]) 
df['Result'] = x_scaled 
df['Result']

0     0.462500
1     0.400000
2     0.006250
3     0.262500
4     0.481250
5     0.406250
6     0.248264
7     0.125000
8     0.248264
9     0.250000
10    0.143750
11    0.000000
12    0.425000
13    0.006250
14    0.081250
15    0.368750
16    0.312500
17    0.156250
18    0.418750
19    0.143750
20    0.306250
21    0.462500
22    0.462500
23    0.087500
24    0.018750
25    0.331250
26    0.125000
27    0.143750
28    0.118750
29    0.025000
30    0.248264
31    0.206250
32    0.275000
33    0.006250
34    0.087500
35    0.468750
36    0.248264
37    0.187500
38    0.248264
39    0.175000
40    1.000000
Name: Result, dtype: float64

In [58]:
df['Result'].describe()

count    41.000000
mean      0.248264
std       0.191211
min       0.000000
25%       0.125000
50%       0.248264
75%       0.368750
max       1.000000
Name: Result, dtype: float64

In [59]:
df.shape

(41, 7)