In [9]:
import nltk

In [10]:
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [11]:
text = "Tokenization is the first step in text analytics. The process of breaking down a text paragraph into smaller chunks such as words or sentences is called Tokenization."

In [12]:
# Sentence Tokenization
from nltk.tokenize import sent_tokenize
tokenized_text = sent_tokenize(text)
print(tokenized_text)

['Tokenization is the first step in text analytics.', 'The process of breaking down a text paragraph into smaller chunks such as words or sentences is called Tokenization.']

In [13]:
# Word Tokenization
from nltk.tokenize import word_tokenize
tokenized_word = word_tokenize(text)
print(tokenized_word)

['Tokenization', 'is', 'the', 'first', 'step', 'in', 'text', 'analytics', '.', 'The', 'process', 'of', 'breaking', 'down', 'a', 'text', 'paragraph', 'into', 'smaller', 'chunks', 'such', 'as', 'words', 'or', 'sentences', 'is', 'called', 'Tokenization', '.']

In [14]:
# print stop words of English
from nltk.corpus import stopwords
stop_words = set(stopwords.words("english"))
print(stop_words)

{"she's", 've', 'mightn', 'won', 'only', 'off', 'should', 'your', 'same', 'for', 'y', 'his', 'what', 'aren', 'up', 'nor', 'be', 'an', 'both', 'doing', 'myself', "hadn't", 'there', 'now', "haven't", 'shan', 'shouldn', 'hasn', 'themselves', 'our', 'between', 'm', "don't", 'it', 'very', "it's", "aren't", "shan't", 'again', 'further', 'no', 'from', 'am', 'or', 'ours', 'don', 'after', 'just', "isn't", 'him', 'had', 'who', 'at', "you'll", 'of', 'herself', 'until', 'because', "wasn't", 'those', 'yourselves', 'to', 'than', 'and', 'which', 'with', 'himself', 'then', 'i', 'all', 'during', 'does', "you're", 'against', 'they', 'theirs', 'that', "weren't", 'do', 'any', 'on', "that'll", 'while', 'he', 'are', 'doesn', 'yourself', "should've", 'into', 'hers', "you'd", 'haven', 's', 'did', 'over', 'some', 'couldn', 'll', 'by', 'yours', 'when', 'here', 'few', "mustn't", 'being', 'how', "didn't", "needn't", 'been', 't', 'were', 'isn', 'ourselves', "wouldn't", 'about', 'not', 'but', 'their', "mightn't", 'this', 'whom', "you've", 'under', 'before', 'a', 'so', 'mustn', 'more', 'each', 'below', 'weren', 'too', 'has', 'own', 'having', 'through', 'the', 're', 'my', 'ain', 'where', 'ma', 'these', "shouldn't", 'we', 'itself', 'me', 'hadn', 'you', 'have', 'down', 'her', 'will', 'she', 'most', 'them', "won't", 'didn', "doesn't", 'o', 'can', 'was', 'as', "hasn't", 'out', 'above', 'other', 'wouldn', 'd', 'its', 'in', 'why', 'needn', 'if', 'once', 'such', 'is', "couldn't", 'wasn'}

In [15]:
tokens = word_tokenize(text.lower())
filtered_text = []
symbols = ['(',')','.',',']

for w in tokens :
    if w not in stop_words and w not in symbols:
        filtered_text.append(w)

print("Tokenized Sentence : ",tokens)
print()
print("Filtered Sentence : ",filtered_text)

Tokenized Sentence :  ['tokenization', 'is', 'the', 'first', 'step', 'in', 'text', 'analytics', '.', 'the', 'process', 'of', 'breaking', 'down', 'a', 'text', 'paragraph', 'into', 'smaller', 'chunks', 'such', 'as', 'words', 'or', 'sentences', 'is', 'called', 'tokenization', '.']

Filtered Sentence :  ['tokenization', 'first', 'step', 'text', 'analytics', 'process', 'breaking', 'text', 'paragraph', 'smaller', 'chunks', 'words', 'sentences', 'called', 'tokenization']

In [16]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()
stemm = []
for w in filtered_text:
    rootWord = stemm.append(ps.stem(w))
print(stemm)

['token', 'first', 'step', 'text', 'analyt', 'process', 'break', 'text', 'paragraph', 'smaller', 'chunk', 'word', 'sentenc', 'call', 'token']

In [17]:
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()
text = "studies studying cries cry"
tokenization = nltk.word_tokenize(text)
for w in tokenization : 
    print("Lemma for {} is {}".format(w,wordnet_lemmatizer.lemmatize(w)))

Lemma for studies is study
Lemma for studying is studying
Lemma for cries is cry
Lemma for cry is cry

In [18]:
pos =[]
for w in filtered_text :
    pos.append(nltk.pos_tag([w]))
print(pos)

[[('tokenization', 'NN')], [('first', 'RB')], [('step', 'NN')], [('text', 'NN')], [('analytics', 'NNS')], [('process', 'NN')], [('breaking', 'VBG')], [('text', 'NN')], [('paragraph', 'NN')], [('smaller', 'JJR')], [('chunks', 'NNS')], [('words', 'NNS')], [('sentences', 'NNS')], [('called', 'VBN')], [('tokenization', 'NN')]]

In [19]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [20]:
documentA = 'Jupiter is the largest planet'
documentB = 'Mars is the fourth planet from the Sun'

In [21]:
bagOfWordsA = documentA.split(' ')
bagOfWordsB = documentB.split(' ')

In [22]:
uniqueWords = set(bagOfWordsA).union(set(bagOfWordsB))

In [23]:
numOfWordsA = dict.fromkeys(uniqueWords,0)
for word in bagOfWordsA :
    numOfWordsA[word] += 1

print(numOfWordsA)

{'the': 1, 'largest': 1, 'fourth': 0, 'from': 0, 'Jupiter': 1, 'Sun': 0, 'is': 1, 'Mars': 0, 'planet': 1}

In [24]:
numOfWordsB = dict.fromkeys(uniqueWords,0)
for word in bagOfWordsB:
    numOfWordsB[word] += 1

print(numOfWordsB)

{'the': 2, 'largest': 0, 'fourth': 1, 'from': 1, 'Jupiter': 0, 'Sun': 1, 'is': 1, 'Mars': 1, 'planet': 1}

In [25]:
def computeTF(wordDict,bagOfWords):
    tfDict = {}
    bagOfWordsCount = len(bagOfWords)
    for word,count in wordDict.items():
        tfDict[word] = count / float(bagOfWordsCount)
    return tfDict

In [26]:
tfA = computeTF(numOfWordsA,bagOfWordsA)
tfB = computeTF(numOfWordsB,bagOfWordsB)

In [27]:
def computeIDF(documents):
    import math
    N = len(documents)
    idfDict = dict.fromkeys(documents[0].keys(),0)
    
    for document in documents :
        for word,val in document.items():
            if val > 0:
                idfDict[word] += 1
    
    for word,val in idfDict.items():
        if val > 0:
            idfDict[word] = math.log(N / float(val))
        else :
            idfDict[word] = 0
        
    return idfDict

In [28]:
idfs = computeIDF([numOfWordsA , numOfWordsB])
idfs

{'the': 0.0,
 'largest': 0.6931471805599453,
 'fourth': 0.6931471805599453,
 'from': 0.6931471805599453,
 'Jupiter': 0.6931471805599453,
 'Sun': 0.6931471805599453,
 'is': 0.0,
 'Mars': 0.6931471805599453,
 'planet': 0.0}

In [29]:
def computeTFIDF(tfBagOfWords, idfs):
    tfidf = {}
    for word, val in tfBagOfWords.items():
        tfidf[word] = val * idfs[word]
    return tfidf

tfidfA = computeTFIDF(tfA, idfs)
print(tfidfA)

tfidfB = computeTFIDF(tfB,idfs)
print(tfidfB)

df = pd.DataFrame([tfidfA, tfidfB])
df

{'the': 0.0, 'largest': 0.13862943611198905, 'fourth': 0.0, 'from': 0.0, 'Jupiter': 0.13862943611198905, 'Sun': 0.0, 'is': 0.0, 'Mars': 0.0, 'planet': 0.0}
{'the': 0.0, 'largest': 0.0, 'fourth': 0.08664339756999316, 'from': 0.08664339756999316, 'Jupiter': 0.0, 'Sun': 0.08664339756999316, 'is': 0.0, 'Mars': 0.08664339756999316, 'planet': 0.0}

,the,largest,fourth,from,Jupiter,Sun,is,Mars,planet
0,0.0,0.138629,0.000000,0.000000,0.138629,0.000000,0.0,0.000000,0.0
1,0.0,0.000000,0.086643,0.086643,0.000000,0.086643,0.0,0.086643,0.0